<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}
            <!--main header-->
            <div class="container-fluid main_header">
                <div class="row">
                   <div class="col-md-10 col-12 mx- auto">
                    <div class="row">
                        <!--left side code-->
                         <div class="col-md-6 col-12 main_header_right">
                            <figure class="aboutimg">
                                <img src="https://www.kindpng.com/picc/b/282-2822884_transparent-human-shadow-png-man-png-shadow-png.png" alt="thapa" class="img-fluid" title = "sahil">
                            </figure>
                        </div>
                         <!--left side code-->
                        <div class="col-md-6 col-12 main_header_left">
                          <p>Welcome to weather app</p>
                          <h1>I Am A <span class="text_clr">Mern Stack Developer,</span> coder and Software Engineer</h1>
                          <a href="https://www.linkedin.com/in/sahil-ansari-8b41041b8/"><button>About me</button></a>
                        </div>

                    </div>
                    </div>
             </div>
      </div>
      <!--footer code -->
    {{>footer}}
</body>
</html>